h1 {
    color: blue;
    font-style: italic;
    text-align: center;
}

h2 {
    color: red;
    text-align: center;
    /*font-size: 50px;*/
}

h3 {
    color: orange;
    font-style: italic;
}

p {
    color: gray;
    font-style: italic;
}

#cores {
    color: green;
}

.texto {
    text-align: center;
}