h1 {
    color: blue;
    font-style: italic;
    text-align: center;
}

h2 {
    color: red;
    text-align: center;
    /*font-size: 50px;*/
}

h3 {
    color: orange;
    font-style: italic;
}

p {
    color: gray;
    font-style: italic;
}

#cores {
    color: green;
}

.texto {
    text-align: center;
}

/* cores */

.nome {
    color: purple;
}

.hexa {
    color: #24c912;
}

.rgba {
    color: rgba(98, 93, 153, 1);
}


/* Backgrounds */

.div-background {
    background-image: url('img/download.png');
    height: 300px;
}

.h2_background{
    background-color: black;
    color: white;
}

/* Fontes */

.family {
    color: brown;
    font-size: 25px;
}

.family.serif {
    color: green;
}

.serif {
    font-family: "times new roman";
}

.sans-serif {
    font-family: arial;
}

.monospace {
    font-family: "Courier New";
}

.italic {
    font-style: italic;
}

.obliquo {
    font-style: oblique;
}

.bold {
    font-weight: bold;
}

.variant {
    font-variant: small-caps;
}