h1 {
    color: blue;
    font-style: italic;
    text-align: center;
}

h2 {
    color: red;
    text-align: center;
    /*font-size: 50px;*/
}

h3 {
    color: orange;
    font-style: italic;
}

p {
    color: gray;
    font-style: italic;
}

#cores {
    color: green;
}

.texto {
    text-align: center;
}

/* cores */

.nome {
    color: purple;
}

.hexa {
    color: #24c912;
}

.rgba {
    color: rgba(98, 93, 153, 1);
}


/* Backgrounds */

.div-background {
    background-image: url('img/download.png');
    height: 300px;
}

.h2_background{
    background-color: black;
    color: white;
}